body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: url('./assets/GIF/background.jpg');
  background-size: cover;

  height: 100vh;
  padding:0;
  margin:0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.headerImg{
  width: 100%;
  height: 100px;
  max-width: 100%;
}

.headerText{
  position: absolute;
  bottom: 15%;
  left: 10%;
  color: aliceblue;
  font: arial;
  font-size: medium;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

.aboutP{
  text-align: center;
  font-size: x-large;
  color: rgb(239, 233, 222);
  font-weight: bold;
  line-height: 1cm;
  text-shadow: 1px 1px 30px rgb(15, 14, 14), 0 0 1em rgb(23, 23, 24), 0 0 0.2em rgb(11, 11, 11);
}

.about{
  border-radius: 25px;
  
  width: fit-content;
  margin: auto;
  padding: 10px;
}

.homeBtns{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 10px;
}

.driverCards{
  font-size: large;
  font-style: oblique;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
}

