body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.headerImg{
  width: 100%;
  height: 150px;
}

.headerText{
  position: absolute;
  top: 20%;
  left: 10%;
  color: aliceblue;
  font: arial;
  font-size: medium;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

.aboutP{
  text-align: center;
  font-size: large;
  color: hotpink;
  font-weight: bold;
  line-height: 1cm;
}

.about{
  border-radius: 25px;
  border: 3px solid #73AD21;
  width: fit-content;
  margin: auto;
  padding: 10px;
}
